*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: hsl(234, 29%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 619px;
}
.sub-container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 450px;
    border-radius: 19px;
    line-height: 30px;
}
.inner-text{
    font-family: Roboto, Arial;
    margin-top: 20px;
}
.image-container{
    margin-top: -50px;
    margin-left: 0px;
    margin-bottom: 15px
}
.image{
    width: 40px;
}
.feed-back{
    font-size: 30px;
    font-weight: 700;
    margin-left: 0px;
    width: 200px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.write-up{
    width: 380px;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 40px;
}
.mail{
    font-weight: bold;
}
.message{
    background-color: hsl(234, 29%, 20%);
    color: white;
    border: none;
    width: 380px;
    border-radius: 5px;
    padding: 14px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.15s;
}
.message:hover{
    background-color: hsl(4, 100%, 67%);
    box-shadow: 0px 2px 15px hsl(4, 100%, 67%);
}
.message:active{
    color: hsl(234, 29%, 20%);
    opacity: 0.8;
}
@media(max-width: 767px) {
    .container{
        background-color: white;
    }
    .inner-text{
        margin-top: 40px;
    }
    .write-up{
        margin-bottom: 180px;
        width: 320px;
    }
}